@model ReviewModel

@{
    ViewBag.Title = "Review update";
    Layout = "_Layout";
}

<head>
    <title > Update </title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>

<h2>Review update</h2>
<form method="post" asp-controller="Moderator" asp-action="ReviewUpdate">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
         <label> Id: </label>
        <input type="text" class="input-margin" readonly="readonly" value="@Model.Id" asp-for="Id"/> <br/>
        <label asp-for="Text"> Text: </label>
        <input type="text" class="input-margin" readonly="readonly" value="@Model.Text" asp-for="Text"/> <br/>
        <label asp-for="Author"> Author: </label>
        <input class="input-margin" type="text" readonly="readonly" asp-for="Author.Account.Login" /> <br/>
        <label asp-for="Hours"> Hours: </label>
        <input class="input-margin" type="text" readonly="readonly" asp-for="Hours" value="@Model.Hours"/> <br/>
        <label asp-for="Product"> Product: </label>
        <input class="input-margin"  type="text" readonly="readonly" value="@Model.Product.ProductInfo.Name"/> <br/>
        
        <input class="input-margin" type="checkbox" value="true" asp-for="Recommend" id="Recommend" name="Recommend"/> 
        <label for="Recommend"> Recommend </label> <br/>
        <input class="input-margin"  type="checkbox" value="true" id="IsAccept" name="IsAccept" asp-for="IsAccept"/> 
                <label for="IsAccept"> Accept </label> <br/>
    </div>

    <div>
        <input type="submit" value="Change E-key" />
    </div>
</form>
