@using System.Collections.Specialized
@model IEnumerable<GameStop.Models.ViewModels.OrderViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


    <div class="window" style="width: 300px;">
        <div class="title-bar">
            <div class="title-bar-text">Orders</div>
        </div>
        <div class="window-body">
            <p> Your orders:</p>
            @foreach (var item in Model) {
                <p> @item.DateTime - @item.Sum </p>
                <ul>
                    @foreach (var key in item.Ekeys)
                    {
                        <li> @key.Key - @key.Product.ProductInfo.Name</li>
                    }
                </ul>
            }
        </div>
    </div>
    
